{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["import"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Src", "./src"],
          ["Helpers", "./src/helpers"],
          ["Dao", "./src/dao"]
        ]
      }
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/prefer-default-export": "off",
    "max-len": ["off"],
    "camelcase": "off",
    "no-console": "off",
    "strict": 0
  },
  "globals": {
    "IsValidJSONString": "readonly",
    "isNaN": "readonly"
  }
}
